<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common-libs">
    <link rel="manifest" th:href="@{/assets/app.webmanifest}">

    <link rel="preconnect" href="https://ka-p.webawesome.com" crossorigin>
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>

    <link rel="stylesheet" href="https://ka-p.webawesome.com/kit/6aa6b2adc43f4f70/webawesome@3.6.0/styles/themes/default.css">
    <link rel="stylesheet" href="https://ka-p.webawesome.com/kit/6aa6b2adc43f4f70/webawesome@3.6.0/styles/native.css">
    <link rel="stylesheet" href="https://ka-p.webawesome.com/kit/6aa6b2adc43f4f70/webawesome@3.6.0/styles/utilities.css">
    <script type="module" src="https://ka-p.webawesome.com/kit/6aa6b2adc43f4f70/webawesome@3.6.0/webawesome.loader.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
            integrity="sha512-5l65kMjGvrm7EATevCK/SFdMUfIUQfAsQLZY57t7tmsPf5ZtjrzU8wzSBykpRDhqnMwlKISCrxQTURFULsXdpQ=="
            crossorigin="anonymous"></script>
</th:block>
</html>
